{% extends "base.html" %}

{% block content %}

<div class="container-fluid bg-shade">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-12 bg-shade">
                    <div>
                        <div>
                            <a href="#" class="post-link">
                                <h2 class="text-white mb-0">{{ post.title }}</h2>
                            
                            <a href="#" class="author">
                                <p class="author text-white my-0">{{ post.author }}</p>
                                <small class="text-fade my-0">{{ post.posted_on}}</small>
                            </a>
                            
                        </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}