{% extends "base.html" %}

{% block content %}

<div class="container-fluid bg-shade">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-12 board-post {% if post.is_sticky %}sticky{% endif %}">
                    <div>
                        <div>
                            <a href="#" class="post-link">
                                <h2 class="text-white mb-0 pb-0">
                                    {% if post.is_sticky %}*{% endif %}
                                    {{ post.title }}
                                </h2>
                            
                            <a href="#" class="author">
                                <p class="author text-white my-0 py-0">{{ post.author }}</p>
                                <small class="text-fade my-0 py-0">{{ post.posted_on}}</small>
                            </a>
                            
                        </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}