{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}


<div>
    <div class="container mt-4">
        <div class="row g-0">
            <div class="col-md-6">
                <h1 class="post-title text-white my-0">{{ post.title }}</h1>
                <p class="post-subtitle text-white  my-0">
                    <a href="{% url 'profile' post.author.username %}" class="link text-white font-weight-bold">
                        {{ post.author }}
                    </a>
                    | {{ post.posted_on }}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-3  mt-3 left top bg-dark">
            <div class="card-body text-white">
                <p class="card-text">
                    {{ post.body | safe }}
                </p>
                <strong class="text-secondary">
                    <i class="far fa-comment"></i> {{ comment_count }}
                </strong>
                {% if user.is_authenticated and post.author == user %}
                    <a class="text-white" post_id="{{ post.id }}" href="{% url 'edit_post' post.pk %}">Edit</a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Post a Comment -->
    <div class="row">
        <button id="posting-button" class="btn btn-primary px-4 col-m-6 mx-auto" onclick="openForm()">
            Post a Comment
        </button>
    </div>
    <div class="row" id="posting-form">
        <div class="col card mb-3 mt-3 bg-dark">
            <div class="card-body">
                <button id="close-form" onclick="closeForm()" class="text-white h3">X</button>

                {% if user.is_authenticated %}
                <h4 class="text-white">Post a comment <span class="h6 text-fade">as {{ user.username }}</span></h4>
                <form id="commentForm" method="post" style="margin-top: 1.3em;">
                    {{ comment_form|crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-primary btn-lg">Submit</button>
                </form>
                {% else %}
                <p class="text-white">You must log in to leave a comment.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Comments -->
    <div class="row">
        <div class="col mb-4 mt-3 p-0">
            <div>
                <!-- Iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="p-2 comments card bg-dark mb-1">
                    <a href="{% url 'profile' comment.author.username %}" class="font-weight-bold text-fade">
                        {{ comment.author }}
                        <small class="text-fade">
                            {{ comment.posted_on }}
                        </small>
                    </a>
                    <div class="text-white" id="comment{{ comment.id }}">
                        {{ comment.body | safe}}
                    </div>
                    {% if user.is_authenticated and comment.author == user %}
                    <a class="text-white" comment_id="{{ comment.id }}" href="{% url 'edit_comment' comment.pk %}">Edit</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}