{% extends 'base.html' %} {% block content %}
{% load static %}

<div>
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6">
                <h1 class="post-title text-white">{{ post.title }}</h1>
                <p class="post-subtitle text-white">{{ post.author }} | {{ post.posted_on }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left top  bg-dark">
            <div class="card-body text-white">
                <p class="card-text">
                    {{ post.body | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}