{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Post info -->
<div class="container mt-3 mb-2 pb-1 bg-dark card pt-3">
    <div class="row">
        <div class="col d-flex">
            <!-- Avatar -->
            <a href="{% url 'profile' post.author.username %}" class="author text-white">
                <img src="{{ post.author.profile.avatar.url }}" alt="{{ post.author }}'s avatar."
                    class="avatar text-fade mx-2" width="64">
            </a>
            <!-- Title, author, time of post -->
            <div class="mx-3">
                <h2 class="post-title text-white my-0">{{ post.title }}</h2>
                <p class="post-subtitle text-fade  my-0">
                    <a href="{% url 'profile' post.author.username %}" class="link font-weight-bold h5">
                        {{ post.author }}
                    </a>
                    <small>| {{ post.posted_on }}</small>
                </p>
            </div>
        </div>
    </div>
    <!-- Post content -->
    <div class="row">
        <div class="col left top bg-dark">
            <div class="post-body text-white p-0 mb-0">
                {{ post.body | safe }}
                <br>
                {% if post.posted_on != post.updated_on %}
                <small>Updated on {{ post.updated_on }}</small>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
    <div class="d-flex flex-row gap-1">
        <!-- Likes and Comments -->
        <button class="like-btn" data-post-id="{{ post.id }}" data-content-type="post">
            <!-- If user has liked, display filled heart, else display empty heart -->
            {% if liked_post %}
            <i class="fas fa-heart"></i>
            {% else %}
            <i class="far fa-heart"></i>
            {% endif %}
        </button>
        <!-- Like count and comment count -->
        <strong class="text-light">
            <span id="like-count-post{{ post.id }}" class="text-fade">{{ post.likes }}</span>
            <i class="far fa-comment"></i> {{ comment_count }}
        </strong>
        <!-- Edit / delete -->
        {% if user.is_authenticated and post.author == user or user.is_staff %}
        <a class="comment-control" post_id="{{ post.id }}" href="{% url 'edit_post' post.pk %}">Edit</a>
        <button class="btn-delete comment-control" entry_type="post" entry_id="{{ post.id }}">Delete</button>
        {% endif %}
    </div>
</div>
<!-- Post a Comment -->
<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <button id="posting-button" class="btn btn-primary px-4 col-m-6 mx-auto" onclick="openForm()">
                Post a Comment
            </button>
        </div>
    </div>
    <div class="row" id="posting-form">
        <div class="col card mb-3 mt-3 bg-dark">
            <div class="card-body">
                <button id="close-form" onclick="closeForm()" class="text-white h3">X</button>
                {% if user.is_authenticated %}
                <h4 class="text-white">Post a comment <span class="h6 text-fade">as {{ user.username }}</span></h4>
                <form id="commentForm" method="post" style="margin-top: 1.3em;">
                    {{ comment_form|crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-primary btn-lg">Submit</button>
                </form>
                {% else %}
                <p class="text-white">You must log in to leave a comment.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Comments -->
<div class="container mt-2">
    <div class="row">
        <div class="col mb-4 p-0 mx-auto">
            <!-- Iterate through each comment in comments -->
            {% for comment in comments %}
            <div class="container card py-1 px-3 mb-1 bg-dark {% if comment.is_sticky %}sticky{% endif %}">
                <div class="row mb-1">
                    <!-- Avatar -->
                    <div class="col-3 col-sm-2 col-lg-1 pt-2 px-2">
                        <a href="{% url 'profile' comment.author.username %}" class="author text-white">
                            <img src="{{ comment.author.profile.avatar.url }}" alt="{{ comment.author }}'s avatar."
                                class="avatar text-fade mx-1" width="64">
                        </a>
                    </div>
                    <div class="col-9 col-sm-10 col-lg-11 px-3 px-lg-5">
                        <!-- Comment info (author, time of post) -->
                        <p class="text-fade small mb-0">
                            <a href="{% url 'profile' comment.author.username %}"
                                class="font-weight-bold lead text-fade">
                                {{ comment.author }}
                            </a>
                            {{ comment.posted_on }}
                        </p>
                        <!-- Comment body -->
                        <div class="text-white" id="comment{{ comment.id }}">
                            {{ comment.body | safe}}
                        </div>
                        <div class="mb-1 text-white" id="comment{{ comment.id }}">
                            {% if comment.posted_on != comment.updated_on %}
                            <small>Updated on {{ comment.updated_on }}</small>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <hr>
                <div class="d-flex flex-row gap-1 px-3 pb-1">
                    <!-- Likes -->
                    <strong class="text-fade">
                        <button class="like-btn" data-post-id="{{ comment.id }}" data-content-type="comment">
                            <!-- If user has liked, display filled heart, else display empty heart -->
                            {% if comment.liked_by_user %}
                            <i class="fas fa-heart"></i>
                            {% else %}
                            <i class="far fa-heart"></i>
                            {% endif %}
                        </button>
                        <span id="like-count-comment{{ comment.id }}">{{ comment.likes }}</span>
                    </strong>
                    <!-- Edit / delete -->
                    {% if user.is_authenticated and comment.author == user or user.is_staff %}

                    <a class="comment-control" comment_id="{{ comment.id }}"
                        href="{% url 'edit_comment' comment.pk %}">Edit</a>
                    <button class="btn-delete comment-control" entry_type="comment"
                        entry_id="{{ comment.id }}">Delete</button>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <form id="deleteConfirm" method="post">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn
          btn-danger">Delete</button>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block extras %}
<script src="{% static 'js/thread.js' %}"></script>
{% endblock %}