{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col mt-4 text-white">
            <div class="text-center mb-4">
                <i class="fas fa-exclamation-triangle fa-5x mb-4 text-fade"></i>
                <h1>500 Error: Internal Server Error</h1>
                <p>The server encountered an internal error and was unable to complete your request.</p>
                <a href="{% url 'home' %}" class="btn btn-primary">Return to home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}