/*----------------------------------- My custom variables */

:root{
    --clr-white: #F2F6D0;
    --clr-black: #1B191D;
    --clr-shade: #524462;
    --clr-light: #A48BA4;
    --clr-fade: #EDBBBB;
}

/*---------------------------------------- General styling */

a {
    text-decoration: none;
}

h2 {
    font-size: 1.3rem;
}

.board-post {
    background-color: var(--clr-shade);
    border-bottom: 2px solid var(--clr-light);
    padding: 6px;
}

.sticky {
    background-color: var(--clr-black);
    border-bottom: 2px solid var(--clr-fade);
}

#posting-button {
    display: block;
    margin: auto;
}

#posting-form {
    display: none;
}

#close-form {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
}

.signup label,
.signup li,
.login label {
    color: var(--clr-fade);
}

/* Styling for crispy comment form */
#div_id_title label,
#div_id_body label {
    display: none
}

#div_id_body textarea,
#div_id_title input {
    color: var(--clr-white);
    background-color: var(--clr-shade);
    border: none;
}

#div_id_body textarea::placeholder,
#div_id_title input::placeholder {
    color: var(--clr-fade);
}

#edit-form textarea {
    display: block;
}

.btn-delete{
    color: var(--clr-white);
    background-color: var(--clr-black);
}

.btn-delete:hover {
    color: var(--clr-fade);
    background-color: var(--clr-black);
}


/*---------------------------------------- Utility classes */


.bg-shade {
    background-color: var(--clr-shade);
}

.text-white {
    color: var(--clr-white) !important;
}

.text-fade {
    color: var(--clr-fade);
}