{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col mt-4 text-white">
            <div class="text-center mb-4">
                <h1>{{ profile.user.username }}{% if user.is_staff %} (Admin){% endif %}</h1>
                {% if "placeholder" in profile.avatar.url %}
                <img src="{% static 'images/nobody.jpg' %}" width="200px" alt="placeholder image">
                {% else %}
                <img src="{{ profile.avatar.url }}" width="200px" alt="{{ about.title }}">
                {% endif %}
            </div>
            <div id="about">
                <small>Info</small>
                <p>{{ profile.about }}</p>
                <button class="btn btn-primary px-4 mx-auto" onclick="editAbout()">
                    Edit profile
                </button>
            </div>
            <div id="edit-about">
                <form method="post">
                    {{ profile_form.as_p | safe }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary px-4 mx-auto">Save changes</button>
                    <button type="button" class="btn btn-danger px-4 mx-auto" onclick="cancelEdit()">
                        Cancel
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extras %}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}