{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col mt-4 text-white">
            <h1>{{ profile.user.username }}{% if user.is_staff %} (Admin){% endif %}</h1>
            <div>
                <small>Info</small>
                <p>{{ profile.about }}</p>
            </div>
            <form method="post">
                {{ profile_form.as_p | safe }}
                {% csrf_token %}
                <button type="submit">Save changes</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}