/*----------------------------------- My custom variables */

:root {
    --clr-white: #F2F6D0;
    --clr-black: #1B191D;
    --clr-shade: #403050;
    --clr-light: #807090;
    --clr-fade: #EDBBBB;
}

/*---------------------------------------- General styling */

p {
    font-size: 0.9rem !important;
}

a {
    text-decoration: none;
    color: var(--clr-light);
}

hr {
    color: var(--clr-light);
    margin: 4px;
}

h2 {
    font-size: 1.3rem;
}

a:hover,
a:focus {
    color: var(--clr-white);
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: var(--clr-light) !important;
}

.nav-link {
    color: var(--clr-fade) !important;
}

.nav-link:hover {
    color: var(--clr-light) !important;
}

.signup label,
.signup li,
.login label {
    color: var(--clr-fade);
}

/*--------------------------------------- Scrollbar styling */

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--clr-light) var(--clr-black);
  }
  
  /* Chromium, Edge, Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--clr-shade);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--clr-black);
    border-radius: 20px;
  }

/*-------------------------------------------- Post styling */

.board-post {
    border-radius: 12px 0 0 0;
    margin-bottom: 4px;
}

.sticky {
    background-color: var(--clr-black) !important;
    border: 2px solid var(--clr-fade) !important;
}

.avatar {
    width: 55px;
    height: 55px;
    border: 2px solid var(--clr-fade);
    border-radius: 8px;
}

.profile-posts {
    border-radius: 4px;
    border: 3px solid var(--clr-light);
    color: white;
}

#posting-button {
    display: block;
    margin: auto;
}

#posting-form {
    display: none;
}

#close-form {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
}

.post-link, .author {
    color: var(--clr-white);
}

.post-link:hover,
.post-link:focus,
.author:hover,
.author:focus {
    color: var(--clr-light);
}

/* Styling for crispy form */
#div_id_title label,
#div_id_body label {
    display: none
}

#div_id_body textarea,
#div_id_title input {
    color: var(--clr-white);
    background-color: var(--clr-shade);
    border: none;
}

#div_id_body textarea::placeholder,
#div_id_title input::placeholder {
    color: var(--clr-fade);
}

#edit-form textarea {
    display: block;
}

/*---------------------------------------- Profile styling */

#about {
    background-color: var(--clr-black);
    padding: 10px;
}

#edit-about {
    display: none;
}

#edit-about textarea {
    width: 100%;
    background-color: #1B191D;
    color: var(--clr-white);
    padding: 10px;
}

#edit-about label {
    display: none;
}

.posts-wrapper {
    border-radius: 0 0 4px 4px;
    border: 4px solid var(--clr-black);
    max-height: 500px;
    overflow-y: auto;
}

/*---------------------------------------- Buttons and such */


.like-btn {
    color: var(--clr-fade);
    background: none;
    border: none;
    padding: 0;
}

.btn-primary {
    background-color: var(--clr-black);
    border-color: var(--clr-fade);
    border-radius: 8px;
    color: var(--clr-fade);
}

.btn-primary:hover,
.btn-primary:focus,
.page-link:hover,
.page-link:focus {
    background-color: var(--clr-light);
    color: var(--clr-white);
    border-color: var(--clr-fade);
}

.like-btn:hover {
    color: var(--clr-white);
}

.comment-control {
    color: var(--clr-fade);
    background-color: var(--clr-shade);
    border: none;
    border-radius: 4px;
    padding: 2px 4px;
    max-height: 20px !important;
    max-width: 50px !important;
    line-height: 1rem;
    font-size: 0.8rem;
    display: inline-block;
}

.page-link {
    background-color: var(--clr-black);
    color: var(--clr-fade);
    border-color: var(--clr-light);
    border-radius: 8px;
    width: 70px;
    text-align: center;
}

/*---------------------------------------------- Search bar */

.search-container {
    position: relative;
    display: inline-block;
}

.search-input {
    padding: 5px 20px; /* Padding to make room for the icon */
    border:   1px solid #ccc;
    border-radius: 8px;
    width: 200px;
    min-width: 60px;
    border: 2px solid var(--clr-black);
    background-color: var(--clr-shade);
    color: var(--clr-white);
}

.search-input::placeholder {
    color: var(--clr-fade);
}

#search-button {
    position: absolute !important;
    right:   10px;
    top:   50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding:  2px;
    cursor: pointer;
    color: var(--clr-fade)
}

#search-button:focus,
#search-button:hover {
    outline: none;
    color: var(--clr-white);
}

/*----------------------------------------- Utility classes */


.bg-dark {
    background-color: var(--clr-black) !important;

}

.bg-shade {
    background-color: var(--clr-shade) !important;
}

.text-white {
    color: var(--clr-white) !important;
}

.text-fade {
    color: var(--clr-fade) !important;
}

.text-light {
    color: var(--clr-light) !important;
}

/*---------------------------------------- Media Queries */


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .avatar {
        width: 75px;
        height: 75px;
    }

    p {
        font-size: 1rem !important;
    }

    
}