/*----------------------------------- My custom variables */

:root {
    --clr-white: #F2F6D0;
    --clr-black: #1B191D;
    --clr-shade: #524462;
    --clr-light: #A48BA4;
    --clr-fade: #EDBBBB;
}

/*---------------------------------------- General styling */

a {
    text-decoration: none;
}

h2 {
    font-size: 1.3rem;
}

.board-post {
    border-radius: 12px 0 0 0;
    margin-bottom: 4px;
}

.sticky {
    background-color: var(--clr-black) !important;
    border: 2px solid var(--clr-fade) !important;
}

.avatar {
    width: 50px;
    height: 50px;
    border: 2px solid var(--clr-fade);
    border-radius: 8px;
}

.like-btn {
    color: var(--clr-fade);
    background: none;
    border: none;
    padding: 0;
}

.like-btn:hover {
    color: var(--clr-white);
}

.profile-posts {
    border-radius: 4px;
    border: 3px solid var(--clr-light);
    color: white;
}

#posting-button {
    display: block;
    margin: auto;
}

#posting-form {
    display: none;
}

#close-form {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
}

.signup label,
.signup li,
.login label {
    color: var(--clr-fade);
}

#about {
    background-color: var(--clr-black);
    padding: 10px;
}

#edit-about {
    display: none;
}

#edit-about textarea {
    width: 100%;
    background-color: #1B191D;
    color: var(--clr-white);
    padding: 10px;
}

#edit-about label {
    display: none;
}

/* Styling for crispy form */
#div_id_title label,
#div_id_body label {
    display: none
}

#div_id_body textarea,
#div_id_title input {
    color: var(--clr-white);
    background-color: var(--clr-shade);
    border: none;
}

#div_id_body textarea::placeholder,
#div_id_title input::placeholder {
    color: var(--clr-fade);
}

#edit-form textarea {
    display: block;
}

/*---------------------------------------- Buttons and such */

.comment-control {
    color: var(--clr-fade);
    background-color: var(--clr-shade);
    border: none;
    border-radius: 4px;
    padding: 2px 4px;
    max-height: 20px !important;
    max-width: 50px !important;
    line-height: 1rem;
    font-size: 0.8rem;
    display: inline-block;
}

/*---------------------------------------------- Search bar */

.search-container {
    position: relative;
    display: inline-block;
}

.search-input {
    padding: 6px 20px; /* Padding to make room for the icon */
    border:   1px solid #ccc;
    border-radius:   4px;
    width: 200px;
    min-width: 60px;
}

#search-button {
    position: absolute !important;
    right:   10px;
    top:   50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding:  2px;
    cursor: pointer;
}

#search-button:focus,
#search-button:hover {
    outline: none;
    color: #524462;
}

/*----------------------------------------- Utility classes */


.bg-shade {
    background-color: var(--clr-shade);
}

.text-white {
    color: var(--clr-white) !important;
}

.text-fade {
    color: var(--clr-fade) !important;
}

.text-light {
    color: var(--clr-light) !important;
}

/*---------------------------------------- Media Queries */


/* Small devices (landscape phones, 576px and up) */
@media srreen and (min-width: 576px) {
    .avatar {
        width: 100px;
        height: 100px;
    }
}