/*----------------------------------- My custom variables */

:root{
    --clr-white: #F2F6D0;
    --clr-black: #1B191D;
    --clr-shade: #524462;
    --clr-light: #A48BA4;
    --clr-fade: #EDBBBB;
}

/*---------------------------------------- General styling */

a {
    text-decoration: none;
}

h2 {
    font-size: 1.3rem;
}

.board-post {
    background-color: var(--clr-shade);
    border-bottom: 2px solid var(--clr-light);
    padding: 6px;
}

.sticky {
    background-color: var(--clr-black);
    border-bottom: 2px solid var(--clr-fade);
}

/*---------------------------------------- Utility classes */


.bg-shade {
    background-color: var(--clr-shade);
}

.text-white {
    color: var(--clr-white);
}

.text-fade {
    color: var(--clr-fade);
}